html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 30px 0 45px;
  font-family: "font", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  margin: 0;
  border: none;
  cursor: pointer;
}

.list-rst {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-offset {
  padding: 87px 0 160px;
}

.header {
  align-items: center;
}

.header-logo {
  margin-right: auto;
  max-width: 115px;
}

.header-nav {
  margin-right: 52px;
}

.header-item:not(:last-child) {
  margin-right: 52px;
}

.header-btn {
  padding: 15px 35.5px;
}
.hero {
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  padding: 113px 0 134px;
}

.hero-title {
  margin: 0 0 26px;
}

.hero-descr {
  margin: 0 0 34px;
}

.hero-bot {
  flex-direction: column;
}

.hero-btn {
  padding: 19px 58px;
  margin: 0 0 14px;
}

.hero-secure {
  align-self: center;
}

.services-title {
  margin: 0 0 21px;
  text-align: center;
}

.services-descr {
  margin: 0 0 54px;
  text-align: center;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 61px 30px 62px;
  width: 270px;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-icon {
  margin-bottom: 28px;
}

.services-item-title {
margin: 0 0 15px;
}

.services-item-descr {
  margin: 0;
  text-align: center;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-title {
  margin: 0 0 42px;
}

.articles-item {
  width: 570px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.articles-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.blog-preview-img {
  width: 170px;
  object-fit: cover;
}

.blog-preview-text {
  padding: 23px 30px 38px;
}

.blog-preview-title {
  margin: 0 0 15px;
}

.blog-preview-descr {
  margin: 0;
}
