/* *variables */

:root {
  --black-color: #1c1c1c;
  --white-color: #fff;
  --grey-text-color: #787878;
  --grey-element-color: #c4c4c4;
  --primary-color: #3172b9;
  --secondary-color: #0e3b6c;
  --hover-color: #71a7e2;
  --btn-font-weight: 600;
  --btn-font-size: 15px;
}

/* *fonts */

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* *global */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "OpenSans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  position: relative;
  margin: 0;
  font-weight: var(--btn-font-weight);
  font-size: var(--btn-font-size);
  line-height: 1.34em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.btn::before {
  position: absolute;
  content: "";
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 1px solid var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

/* При фокусе кнопки появляется бордер, но при hover и active его не будет */
.btn:focus:not(:hover):not(:active)::before {
  opacity: 1;
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:active {
  background-color: var(--secondary-color);
}

.btn:disabled {
  background-color: var(--grey-element-color);
  cursor: not-allowed;
}

.list-rst {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-offset {
  padding: 87px 0 160px;
}

.section-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.3em;
  color: var(--black-color);
}

.section-border {
  width: clamp(960px, 100vw, 1920px);
  margin: 0 auto;
  border-bottom: 1px solid var(--grey-element-color);
}

.logo {
  flex-shrink: 0;
  max-width: 115px;
  outline: none;
}

.logo__fill {
  fill: var(--primary-color);
  transition: fill .3s ease-in-out;
}

/* При фокусе логотипа появляется обводка, но при hover и active ее не будет */
.logo:focus:not(:hover):not(:active) {
  outline: 1px solid var(--primary-color);
  outline-offset: 3px;
}

 .logo:hover .logo__fill {
   fill: var(--hover-color);
   /* transition: fill .3s ease-in-out; */
}

.logo:active .logo__fill {
  fill: var(--secondary-color);
}

/* *header */

.header__container {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header__logo {
  margin-right: 52px;
}

.header__wrapper {
  align-items: center;
}

.header__nav {
  margin-right: 52px;
}

.nav__list {
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.34em;
  color: var(--black-color);
  outline: none;
  transition: color .3s ease-in-out;
}

.nav__link:focus:not(:hover):not(:active) {
  outline: 1px solid var(--primary-color);
  outline-offset: 3px;
}

.nav__link:hover {
  color: var(--hover-color);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.nav__link:active::after {
  opacity: 1;
}

.nav__link:active {
  color: var(--primary-color);
}

.header__btn {
  min-width: 150px;
  padding: 15px 20px;
  border-radius: 3px;
}

/* *hero */

.hero__container {
  width: clamp(960px, 100vw, 1920px);
  margin: 0 auto;
  background: url("../img/hero-bg.jpg") no-repeat center / cover;
}

.hero__wrapper {
  flex-direction: column;
  align-items: flex-start;
  max-width: 45%;
  padding: 113px 0 134px;
}

.hero__title {
  margin: 0 0 26px;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.3em;
  color: var(--black-color);
}

.hero__descr {
  width: 480px;
  margin: 0 0 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55em;
  color: var(--grey-text-color);
}

.hero__bot {
  flex-direction: column;
}

.hero__btn {
  min-width: 250px;
  margin: 0 0 14px;
  padding: 19px 24px;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

.hero__secure {
  padding-left: 27px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.55em;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--grey-text-color);
  background: url("../img/secure.svg") no-repeat left center  / 14px 17px;
}

/* *services */

.services__title {
  margin: 0 0 21px;
  text-align: center;
}

.services__descr {
  margin: 0 0 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375em;
  text-align: center;
  color: var(--grey-text-color);
}

.services__list {
  flex-wrap: wrap;
}

.services__item {
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding: 61px 30px 62px;
  border: 1px solid var(--grey-element-color);
  border-radius: 5px;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.services__item:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

.services__item:hover .services__icon {
  fill: var(--white-color);
  transition: fill .3s ease-in-out;
}

.services__item:hover .services__subtitle {
  color: var(--white-color);
  transition: color .3s ease-in-out;
}

.services__item:hover .services__subdescr {
  color: var(--white-color);
  transition: color .3s ease-in-out;
}

.services__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services__icon {
  margin-bottom: 28px;
  fill: var(--primary-color);
}

.services__subtitle {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
  color: var(--black-color);
}

.services__subdescr {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  color: var(--grey-text-color);
}

/* *articles */

.articles__list {
  align-items: flex-start;
  flex-wrap: wrap;
}

.articles__title {
  margin: 0 0 42px;
}

.articles__item {
  width: 570px;
}

.articles__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.articles__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.blog-preview__link {
  width: 100%;
  border: 1px solid var(--grey-element-color);
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.blog-preview__link:focus {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.blog-preview__link:focus .blog-preview__time {
  color: var(--white-color);
}

.blog-preview__link:focus .blog-preview__title {
  color: var(--white-color);
}

.blog-preview__link:focus .blog-preview__descr {
  color: var(--white-color);
}

.blog-preview__link:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

.blog-preview__link:hover .blog-preview__time {
  color: var(--white-color);
}

.blog-preview__link:hover .blog-preview__title {
  color: var(--white-color);
}

.blog-preview__link:hover .blog-preview__descr {
  color: var(--white-color);
}

.blog-preview__link:active {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.blog-preview__img {
  width: 170px;
  object-fit: cover;
}

.blog-preview__text {
  padding: 23px 30px 38px;
}

.blog-preview__time {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5em;
  color: var(--grey-text-color);
}

.blog-preview__title {
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3em;
  color: var(--black-color);
}

.blog-preview__descr {
  max-width: 210px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  color: var(--grey-text-color);
}

/* *clients */

.clients__title {
  margin: 0 0 42px;
}

.clients__list {
  flex-wrap: wrap;
}

.clients__item {
  flex-direction: column;
  width: 370px;
  padding: 51px 36px 32px;
  border: 1px solid var(--grey-element-color);
  border-radius: 5px;
}

.clients__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients__descr {
  margin: 0 0 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  color: var(--grey-text-color);
}

.clients__user {
  width: 100%;
  align-items: center;
  margin-top: auto;
  padding-top: 26px;
  border-top: 1px solid var(--grey-element-color);
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__img {
  border-radius: 100%;
  border: 2px solid var(--primary-color);
}

.clients__name {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8em;
  color: var(--black-color);
}

.clients__role {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  color: var(--grey-text-color);
}

/* *contacts */

.contacts__title {
  margin: 0 0 109px;
}

.contacts__address {
  font-style: normal;
}

.contacts__list {
  flex-wrap: wrap;
}

.contacts__item {
  width: 220px;
  padding-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  color: var(--grey-text-color);
}

.contacts__item:not(:nth-child(3n)) {
  margin-right: 180px;
}

.contacts__mark {
  background: url("../img/mark.svg") no-repeat top left  / 29px;
}

.contacts__phone {
  background: url("../img/phone.svg") no-repeat top left  / 29px;
}

.contacts__mail {
  background: url("../img/contacts-mail.svg") no-repeat top left  / 29px;
}

.contacts__subtitle {
  display: inline-block;
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.8em;
  color: var(--black-color);
}

.contacts__descr {
  margin: 0;
}

.contacts__links {
  flex-direction: column;
}

.contacts__link {
  width: fit-content;
  outline: none;
  transition: color .3s ease-in-out;
}

.contacts__link:focus:not(:hover):not(:active) {
  outline: 1px solid var(--primary-color);
  outline-offset: 3px;
}

.contacts__link:hover {
  color: var(--hover-color);
}

.contacts__link:active {
  color: var(--secondary-color);
}

/* *join-us */

.join-us__container {
  padding: 87px 0 122px;
}

.join-us__title {
  margin: 0 0 22px;
  text-align: center;
}

.join-us__descr {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375em;
  text-align: center;
  color: var(--grey-text-color);
}

.form {
  padding: 0 55px;
}

.form__top {
  justify-content: space-between;
  margin-bottom: 22px;
}

.form__left {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 19px 0;
  width: 49%;
}

.form__input {
  width: 48%;
  border-radius: 50px;
}

.form__select {
  width: 48%;
  border-radius: 50px;
  cursor: pointer;
}

.form__child {
  padding: 15px 28px;
  opacity: .6;
  border: 1px solid var(--grey-element-color);
  line-height: 1.8em;
  outline: none;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.form__child:focus:not(:hover):not(:active) {
  background-color: rgba(49,114,185,.25);
  /* background-color: rgba(113,167,226); */
  border: 1px solid var(--primary-color);
}

.form__child:hover {
  border: 1px solid var(--hover-color);
}

.form__child:active {
  border: 1px solid var(--secondary-color);
}

.form__right {
  width: 49%;
}

.form__textarea {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  resize: none;
}

.form__bot {
  justify-content: flex-end;
}

.form__wrapper {
  flex-direction: column;
  align-items: center;
}

.form__btn {
  min-width: 230px;
  margin-bottom: 6px;
  padding: 20px 25px;
  border-radius: 50px;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.34em;
  color: var(--grey-text-color);
  cursor: pointer;
}

.form__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__check+label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  width: 14px;
  height: 14px;
  margin-right: 0.65em;
  border: 1px solid var(--grey-element-color);
  transition: border-color .3s ease-in-out;
}

.form__check:checked+label::before {
  background: url("../img/check.svg") no-repeat center / 14px;
}

/* стили для чекбокса, находящегося в фокусе */
.form__check:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(49,114,185,.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.form__check:focus:not(:checked)+label::before {
  border-color: var(--primary-color);
}

/* стили при наведении курсора на checkbox */
.form__check:not(:checked)+label:hover::before {
  border-color: var(--hover-color);
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.form__check:active+label::before {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}


.form__link {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.form__link:focus:not(:hover):not(:active) {
  outline: 1px solid var(--primary-color);
  outline-offset: 3px;
}

.form__link:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.form__link:active {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* *footer */

.footer__container {
  align-items: center;
  padding: 45px 0;
}

.footer__logo {
  margin-right: 25px;
}

.footer__copy {
  margin-right: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.34em;
  color: var(--grey-text-color);
}

.footer__nav {
  margin: 0 56px 0 auto;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

/* ! из-за переназначения цвета, почему-то перестает работать ховер в футере у nav__link и приходится дублировать код */
.footer__nav .nav__link {
  color: var(--grey-text-color);
}

/* !дублированный код из-за бага */
.footer__nav .nav__link:hover {
  color: var(--hover-color);
}

.footer__nav .nav__link:active {
  color: var(--secondary-color);
}

.social {
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 21px;
}

.social__link {
  outline: none;
}

.social__fill {
  transition: fill .3s ease-in-out;
}

.social__link:focus:not(:hover):not(:active) {
  outline: 1px solid var(--primary-color);
}

.social__link:hover .social__fill {
  fill: var(--hover-color);
}

.social__link:active .social__fill {
  fill: var(--primary-color);
}
